[package]
name = "interpreter"
version = "0.1.0"
edition = "2024"

[dependencies]
async-nats = "0.46.0"
axum = "0.8.8"
serde_json = "1.0.149"
tokio = { version = "1.49.0", features = ["full"] }
tracing = "0.1.44"
tracing-subscriber = "0.3.22"
